<h1>Custom Edit</h1>


<%= form_for @survey, :as => :post, :url => surveys_custom_update_path  do |f| %>

<p><%= @survey.title %></p>

<% @survey.questions.each do |q| %>
  <p><%= q.text %></p>
  <p><%= q.description %></p>
  <p><%= q.question_type %></p>
  <%= text_field_tag 'answer' %>
<% end %>

<%= f.submit  %>
<% end %>
