<p id="notice"><%= notice %></p>

<h1 class="dashboard-header">My Surveys</h1>

<div class="dashboard-container">
  <div class="survey-list-container">
    <div class="list-head">
      <div class="column-titles">
        <div class="list-labels">Author</div>
        <div class="list-labels">Title</div>
        <div class="list-labels">Description</div>
      </div>
    </div>

    <div class="survey-list">
      <% @surveys.each do |survey| %>
        <ul class="survey-list__item">
          <li class="survey-list__info"><%= survey.author_id %></li>
          <li class="survey-list__info"><%= survey.title %></li>
          <li class="survey-list__info"><%= survey.description %> <span class="icons"><%= link_to 'm', survey %> <%= link_to 'e', edit_survey_path(survey) %> <%= link_to 't', survey, method: :delete, data: { confirm: 'Are you sure?' } %></span></li>
          <!-- <li class="survey-list__link icons"><%= link_to 'm', survey %></li>
          <li class="survey-list__link icons"><%= link_to 'e', edit_survey_path(survey) %></li>
          <li class="survey-list__link icons"><%= link_to 't', survey, method: :delete, data: { confirm: 'Are you sure?' } %></li> -->
        </ul>
      <% end %>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Survey', new_survey_path, class: 'new-survey__link' %>
