<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @survey.author_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<% @survey.questions.each do |q| %>
  <p><%= q.text %></p>
  <p><%= q.description %></p>
  <% q.options.each do |o| %>
    <!-- the way that this displays depends on q.question_type, which should be hidden-->
    <p> <%= q.question_type %></p>
    <p><%= o.response %></p>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
