<p id="notice"><%= notice %></p>

<header>
  <h1 class="survey-title"><%= @survey.title %></h1>
  <h3 class="survey-description"><%= @survey.description %></h3>
  <div class="nav">
    <%= link_to 'Edit', edit_survey_path(@survey) %> |
    <%= link_to 'Back', surveys_path %>
  </div>
</header>

<p class="author">
  <strong>Author:</strong>
  <%= @survey.author_id %>
</p>

  <!-- <strong>Title:</strong> -->


  <!-- <strong>Description:</strong> -->


<%= form_for @survey, :as => :post, :url => custom_update_survey_path  do |f| %>

<div class="survey-questions-container">
  <ol>
  <% @survey.questions.each do |q| %>
    <li><%= q.text %>
    <p class="survey-question-description"><%= q.description %></p>
    <!-- the way that this displays depends on q.question_type, which should be hidden-->
    <p class="survey-question-type"><%= q.question_type %></p>
    <% q.options.each do |o| %>
      <p><%= o.response %></p>
    <% end %><br>
  <% end %><br><br>
  </ol>
</div>
<!-- Front End, I invoke thee: this submit button is different -- it takes the survey rather than creating it. please update to display accordingly -->

<%= f.submit  %>
<% end %>

<div>Share this survey!
  <!-- Front End, hear my call: please make this display a full link to the current page -->
  URL: <%= link_to surveys_path+"/#{@survey.id}", surveys_path+"/#{@survey.id}" %>
</div>
