<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @survey.author_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<% @survey.questions.each do |q| %>
  <p>Question: <%= q.text %></p>
  <p>Description: <%= q.description %></p>
  <!-- the way that this displays depends on q.question_type, which should be hidden-->
  <p>Question type: <%= q.question_type %></p>
  <% q.options.each do |o| %>
    <p><%= o.response %></p>
  <% end %><br>
<% end %><br><br>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
