<!DOCTYPE html>
<html>
<head>
  <title>PossumSurvey</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href="https://fontastic.s3.amazonaws.com/5b3KHM9j5WbP8vymgsvTc5/icons.css" rel="stylesheet">
</head>
<body>
  <% if session[:author_id] %>
  <%= link_to "Log out", login_logout_path, class: 'logout-button__link' %>
  <% end %>
<%= yield %>

</body>
</html>
